################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/obj
/bin/Debug
/packages/jacobslusser.ScintillaNET.3.6.3
